*{
    padding: 0;
    margin: 0;
}

h1{
    padding: 5vh;
}

body{
    text-align: center;
    background-color: aqua;
}

#msg{
    font-size: 5vmin;
}
#newGame{
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    border: none;
    box-shadow: 0 0 0.2rem;
    background-color: green;
    color: white;
    width: 20vmin;
}

.winBox{
    padding: 43vmin;
}

.hide{
    display: none;
}

#container{
    height: 60vh;
    display: flex;
    justify-content: center;
}

#game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    background-color: white;
    color: black;
}

.box:hover{
    cursor: pointer;
    background-color:aqua;
}

#note{
    font-size: 1.5rem;
    margin: 1rem;
}

#reset:hover, #newGame{
    cursor: pointer;
}

#reset{
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    border: none;
    box-shadow: 0 0 0.2rem;
    background-color: green;
    color: white;
}
